
   <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sistema de Ventas Para Una Bodega</h1>
            <p class="lead">Integrantes:
                    Bruno,Vander y Ronny
            </p>
        </div>
    </div>
